@{
    ViewData["Title"] = "Clipboard";
}

<section class="main">
    <div class="row">
        <div class="col-12">
            <textarea placeholder="Write anything and it will last... for a while" id="clipboard" name="demo-message" rows="6"></textarea>
        </div>
        <div>
            <a class="button icon fa-save" onclick="saveClipboard();">Keep</a>
        </div>
        <div hidden id="saved-message" class="primary">
            <p>Done</p>
        </div>
        <div hidden id="failed-message" class="alert alert-danger" style="width:720px">
            <strong>Failed!</strong>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/js/index.js"></script>
}